
<div class="backdrop">
  <div class="sign-in sign-up popup">
    <div class="errors"><%= flash[:errors] %></div>
    
    <h1>Log In</h1>

    <form class="auth col-md-4" action="<%= session_url %>" method="post">
      <%= auth_token %>

      <input class="form-control" type="text" name="user[email]" id="email" placeholder="Email">
      <input class="form-control" type="password" name="user[password]" id="password" placeholder="Password">

      <input class="btn btn-success" type="submit" value="Log in!">
    </form>

    <form class="auth col-md-4" action="<%= session_url %>" method="post">
      <%= auth_token %>

      <input type="hidden" name="user[email]" value="example@email.com">
      <input type="hidden" name="user[password]" value="password">

      <input class="btn btn-primary" type="submit" value="Sign in as guest">
    </form>

    <h1>Or <a href="<%= new_user_url %>">Sign Up</a> to create your new account!</h1>

  </div>
</div>
