<div id="sidebar-left">
  <h1 class="title">
    <%= user.escape('name') %>
  </h1 class="title">

  <div class="content">
    <img src="<%= user.escape('image_url') %>">
    <div class="user-info">
      <p id="num-following">Following: <%= user.follows().length %></p>
      <p id="num-followers">Followers: <%= user.followers().length %></p>
      <p>
        Number of Reviews:
        <span id="num-reviews"><%= user.reviews().length %></span>
      </p>
    </div>
  </div>
</div>

<div class="user-content">
  <div class="center">
    <ul class="tabs">
      <li id="reviews">
        <span><div class="glyphicon glyphicon-star"></div>Reviews</span>
      </li>

      <li id="followers">
        <span><div class="glyphicon glyphicon-user"></div>Followed Users</span>
      </li>

      <% if (user.get('id') == CURRENT_USER_ID) { %>
        <li id="edit">
          <span><div class="glyphicon glyphicon-wrench"></div>Edit Profile</span>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="user-main"></div>
</div>
