<div id="sidebar-left">
  <h1 class="title">
    <%= userName %>
  </h1 class="title">

  <div class="content">
    <img src="<%= userImage %>">
    <div class="user-info">
      <p>
        Following:
        <span id="num-following"><%= numFollows %></span>
      </p>
      <p>
        Followers:
        <span id="num-followers"><%= numFollowers %></span>
      </p>
      <p>
        Number of Reviews:
        <span id="num-reviews"><%= numReviews %></span>
      </p>
    </div>
  </div>
</div>

<div class="user-content">
  <div class="center">
    <ul class="tabs">
      <li id="reviews">
        <span><div class="glyphicon glyphicon-star"></div>Reviews</span>
      </li>

      <li id="followings">
        <span><div class="glyphicon glyphicon-user"></div>Followed Users</span>
      </li>

      <% if (userId == CURRENT_USER_ID) { %>
        <li id="edit">
          <span><div class="glyphicon glyphicon-wrench"></div>Edit Profile</span>
        </li>
      <% } %>
    </ul>
  </div>

  <div id="user-main"></div>
</div>
