<div id="sidebar-left">
  <h1 class="title">
    <%= user.escape('first_name') %> <%= user.escape('last_name') %> <br>
  </h1 class="title">

  <div class="container">
    <img src="<%= user.escape('image_url') %>">
    <div class="user-info">
      Following: <%= user.follows().length %><br>
      Followers: <%= user.followers().length %><br>
      Number of Reviews: <%= user.reviews().length %><br>
    </div>
  </div>
</div>

<div class="user-content">
  <div class="center">
    <ul class="tabs">
      <li id="reviews" class="selected">
        <span><div class="glyphicon glyphicon-star"></div>Reviews</span>
      </li>

      <li id="followers">
        <span><div class="glyphicon glyphicon-user"></div>Followed Users</span>
      </li>

      <% if (user.get('id') == CURRENT_USER_ID) { %>
        <li id="edit">
          <span><div class="glyphicon glyphicon-wrench"></div>Edit Profile</span>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="user-main"></div>
</div>
