<img class="user-image" src="<%= user.escape('image_url') %>">

<div class="review-info">
  <input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
  <p class="context">
    -<strong><a href="#users/<%=user.get('id') %>"><%= user.escape('first_name') %></strong></a>,
    about <strong>
      <a href="#businesses/<%= business.get('id') %>"><%= business.escape('name') %></a>
    </strong>
  </p>
  <p><%= review.escape('content') %></p>
</div>
