<!-- TODO: remove text on review stars -->

<div class="content-container">
  <h4>
    <div><a href="#businesses/<%= business.get('id') %>">
      <%= business.escape('name') %><br>
    </a></div>
    <% if (parseInt(business.escape('review_count')) === 1) { %>
      <small>(<%= business.escape('review_count') %> review)</small>
    <% } else { %>
      <small>(<%= business.escape('review_count') %> reviews)</small>
    <% } %>
  </h4>
  <input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
</div>

<% if (business.get('image_url')) { %>
  <img class="image" src="<%= business.escape('image_url') %>">
<% } else { %>
  <img class="image" src="http://i.ebayimg.com/00/s/Mzg2WDUxOA==/z/6scAAOSwiwVWTkQp/$_35.JPG">
<% } %>

<p>"<%= business.escape('snippet_text') %>"</p>
