<div class="content-container">
  <div class="info">
    <a class="name" href="#businesses/<%= business.get('id') %>">
      <%= business.escape('name') %>
    </a>
    <div class="num-reviews"><%= numReviews %></div>
  </div>

  <input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
</div>

<img class="image" src="<%= business.escape('image_url') %>">

<p>"<%= business.escape('snippet_text') %>"</p>
