<div class="content-container">
  <h4>
    <strong><a href="#businesses/<%= business.get('id') %>">
      <%= business.escape('name') %><br>
    </a></strong>
    <small>(<%= business.escape('review_count') %> reviews)</small>
  </h4>
  <input default="false" id="input-id" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
</div>

<img class="image" src="<%= business.escape('image_url') %>">

<p>"<%= business.escape('snippet_text') %>"</p>
