<!DOCTYPE html>
<html>
<head>
  <!-- <link href="/vendor/assets/stylesheets/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/vendor/assets/javascripts/star-rating.min.js" type="text/javascript"></script> -->

  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user %>
      window.CURRENT_USER_ID = "<%= current_user.id %>"
    <% end %>
  </script>
</head>
<body>

<%= yield %>

<br><br><br><br><br><br><br><br>
<% if current_user %>
  <br>
  <%= button_to "Sign out", session_url(current_user), method: :delete %>
<% end %>
</body>
</html>
