<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js">
  </script>
  <script type="text/javascript"></script>

  <script type="text/javascript">
     jQuery(document).ready(function() {
       $("abbr.timeago").timeago();
     });
  </script>
  <script>
    <% if current_user %>
      window.CURRENT_USER_ID = "<%= current_user.id %>"
    <% end %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
