<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js">
  </script>
  <script type="text/javascript">
    // function initialize() {
    //   var mapOptions = {
    //     center: { lat: -34.397, lng: 150.644},
    //     zoom: 8
    //   };
    //   var map = new google.maps.Map(document.getElementById('map-canvas'),
    //       mapOptions);
    // }
    // google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user %>
      window.CURRENT_USER_ID = "<%= current_user.id %>"
    <% end %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
