<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js">
  </script>
  <script type="text/javascript">
  </script>

  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user %>
      window.CURRENT_USER_ID = "<%= current_user.id %>"
    <% end %>
  </script>
</head>
<body>
<% if current_user %>
  <%= button_to "Sign out", session_url, method: :delete, class: "sign-out" %>
<% end %>

<%= yield %>

</body>
</html>
