<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    <% if current_user %>
      window.CURRENT_USER_ID = "<%= current_user.id %>"
    <% end %>
  </script>
</head>
<body>

<%= yield %>

<br><br><br><br><br><br><br><br>
<% if current_user %>
  <br>
  <%= button_to "Sign out", session_url(current_user), method: :delete %>
<% end %>
</body>
</html>
